    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NutriBem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NutriBem.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-body-tertiary">
            <div class="container-fluid">
                <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="Index">
                    <img src="~/Images/Logocortada.jpg" class="rounded float-start imagem" />
                </a>
                <div class="login">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if(User.IsInRole("nutricionista"))
                        {
                            <p>
                                Olá, @User.Identity.Name <a class="nav-link text-dark" asp-area="" asp-controller="Nutricionistas" asp-action="Logout">Sair</a>
                            </p>
                        }
                        @if (User.IsInRole("paciente"))
                        {
                            <p>
                                Olá, @User.Identity.Name <a class="nav-link text-dark" asp-area="" asp-controller="Pacientes" asp-action="Logout">Sair</a>
                            </p>
                        }
                        
                    }
                    else
                    {
                        <p class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Nutricionistas" asp-action="Login">Logar como nutricionista</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pacientes" asp-action="Login">Logar como paciente</a>
                        </p>
                    }
                </div>
            </div>
        </nav>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasLabel">Nome do usuário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PlanosAlimentares" asp-action="Index">Planos Alimentares</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Receitas" asp-action="Index">Receitas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pacientes" asp-action="Index">Pacientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Nutricionistas" asp-action="Index">Nutricionistas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Comentarios" asp-action="Index">Diário Alimentar</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Nutricionistas" asp-action="Create">Criar conta como nutricionista</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pacientes" asp-action="Create">Criar conta como paciente</a>
                        </li>
                    </ul>
                }

            </div>
        </div>
    </header>
    <div class="conteudo">
        <div class="menu">
            <button class="bg-transparent border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
                <span class="bi bi-list bg-transparent no-border fs-3"></span>
            </button>
        </div>
        <div class="pages">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
