@model NutriBem.Models.Receita

@{
    ViewData["Title"] = "Create";
}

<h1 class="mb-4 pt-4 ps-5">Criar nova Receita</h1>

<h4 class="mb-3 ps-5">Preencha os campos abaixo com os detalhes da sua receita:</h4>

<div class="container-fluid px-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form asp-action="Create">

                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="form-group mb-3">
                    <label asp-for="Nome" class="control-label fw-bold"></label>
                    <input asp-for="Nome" class="form-control" style="border-color: #95B963;" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="IngredienteQuantidade" class="control-label fw-bold"></label>
                    <textarea asp-for="IngredienteQuantidade" class="form-control" style="border-color: #95B963;" rows="5"></textarea>
                    <span asp-validation-for="IngredienteQuantidade" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="MododePreparo" class="control-label fw-bold"></label>
                    <textarea asp-for="MododePreparo" class="form-control" style="border-color: #95B963;" rows="5"></textarea>
                    <span asp-validation-for="MododePreparo" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Observacoes" class="control-label fw-bold"></label>
                    <textarea asp-for="Observacoes" class="form-control" style="border-color: #95B963;" rows="5"></textarea>
                    <span asp-validation-for="Observacoes" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Calorias" class="control-label fw-bold"></label>
                    <input asp-for="Calorias" class="form-control" style="border-color: #95B963;" type="text" />
                    <span asp-validation-for="Calorias" class="text-danger"></span>
                </div>

                <div class="form-group d-flex justify-content-between mt-4">

                    <a class="btn btn-danger" style="font-weight: bold; color: black; border-color: #be2929;" asp-action="Index">Cancelar</a>
                    <input type="submit" value="Salvar" class="btn" style="background-color: #95B963; border-color: #95B963; color: black; font-weight: bold;" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
